.container{
    font-family: "Dance";
    font-size: 20px;
    
    
}

.image{
    background-size:cover;
    background-position:50% 50%;
    background-image:url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-birthday-instagram-captions-1584723902.jpg?resize=980:*');
    
  }