<div class="image">


<h1 style="font-family: Dance; font: size 10px; text-align: center; font-weight: 400;">
      Birthday Reminder
</h1>

<!-- <div>
  <span class="title">Introduceti o data: </span>
  <input [(ngModel)]="birthday.data" type="date">
</div> -->

<!-- <form (submit)="checkBirthday()">
  <span class="title">Introduceti o data: </span>
  <input [(ngModel)]="birthday.data">
</form> -->

<form class="form-inline waves-light" mdbWavesEffect>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
  </div>
</form> 
 
<button type="button" class="btn btn-outline-primary" (click)="showToasterInfo()">
  Info 
</button>




<app-list>

</app-list>

</div>